<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes Keeper</title>
</head>
<body>
    <h1>Notes Keeper</h1>

    <!-- Form for Adding a New Note -->
    <form id="noteForm">
        <input type="text" id="title" placeholder="Title" required>
        <input type="text" id="tagline" placeholder="Tagline" required>
        <textarea id="body" placeholder="Body" required></textarea>
        <input type="checkbox" id="pinned"> Pin this note
        <button type="submit">Add Note</button>
        <div id="message-1"></div>
    </form>

    <!-- Notes Grid -->
    <div id="notesGrid">
        {{#each notes}}
        <div class="note" data-note-id="{{this._id}}">
            <h2>{{this.title}}</h2>
            <p>{{this.tagline}}</p>
            <div>{{this.body}}</div>
            <button class="editBtn" onclick="populateFormWithNoteData('{{this._id}}')">Edit</button>
            <button class="deleteBtn" onclick="deleteNote('{{this._id}}')">Delete</button>
        </div>
        {{/each}}
    </div>

    <!-- Pagination Controls -->
<div id="pagination">
    {{#if previousPage}}
    <a href="/notes?page={{previousPage}}&limit=6">Previous</a>
    {{else}}
    <span>Previous</span>
    {{/if}}

    Page {{currentPage}}

    {{#if nextPage}}
    <a href="/notes?page={{nextPage}}&limit=6">Next</a>
    {{else}}
    <span>Next</span>
    {{/if}}
</div>

    <!-- Message for Update/Delete Operations -->
    <div id="operationMessage"></div>

    <!-- JavaScript Files -->
    <script src="/js/createNote.js"></script>
    {{!-- <script src="/js/readNotes.js"></script> --}}
    <script src="/js/editnote.js"></script>
    <script src="/js/deletenote.js"></script>
</body>
</html>
